<div class="container">
	<div class="row">
		<div class="col-md-7 mx-auto">
			<h3 class="text-center">
				登録が完了しました！<br>
				さっそく欲しいものを投稿してみましょう！
			</h3><br>
			<div class="text-center">
				<%= link_to "クオレレを始める", root_path, class: "btn btn-success" %>
			</div>
		</div>
	</div>
</div>